In [ ]:
mtcars_url = "https://gist.githubusercontent.com/seankross/a412dfbd88b3db70b74b/raw/5f23f993cd87c283ce766e7ac6b329ee7cc2e1d1/mtcars.csv"

# 데이터 url

In [ ]:
type1_data1 = "https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/type1_data1.csv"

In [ ]:
tp1_data2 = "https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/type1_data2.csv"

In [1]:
del_time = "https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/delivery_time.csv"

In [77]:
school = "https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/school_data.csv"

In [101]:
school_science = "https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/school_data_science.csv"

In [121]:
school_social = "https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/school_data_social.csv"

In [131]:
sales = "https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/sales.csv"

In [143]:
store = "https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/store_sales.csv"

In [157]:
region_csv = "https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/region_sales.csv"

In [156]:
monthly_csv = "https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert_v2/refs/heads/main/part1/ch3/monthly_sales.csv"

# 문제1. 필터링, 최솟값, 중앙값
1. 'f5' 컬럼이 0이 아닌 데이터(행)를 구하시오.
2. 앞에서 구한 데이터에 'views' 컬럼 결측치를 'views' 컬럼의 최솟값으로 채우시오
3. 'views' 컬럼의 중앙값을 계산해 정수로 구하시오

In [ ]:
import pandas as pd

df = pd.read_csv(type1_data1)
# print(df.head())
# print(df.info())

# 1.'f5' 컬럼이 0이 아닌 데이터(행)
cond = df['f5'] != 0
df = df[cond]

# 2. 앞에서 구한 데이터에 'views' 컬럼 결측치를 'views' 컬럼의 최솟값으로 채우시오
min = df['views'].min()
df['views'].fillna(min, inplace=True) # inplace=True 를 해줘야 df에 적용됨.
# df

# 3. 'views' 컬럼의 중앙값을 계산해 정수로 구하시오
result = df['views'].median()
print(int(result))

5924

<ipython-input-26-ae19d2de82f2>:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['views'].fillna(min, inplace=True) # inplace=True 를 해줘야 df에 적용됨.

# 문제2. 카테고리, 인덱스, 문자열 슬라이싱
1. 'subscribed' 컬럼에서 가장 빈도수가 많은 날짜를 구하시오
2. 앞에서 구한 날짜의 일(day) 값을 정수로 구하시오

In [ ]:
import pandas as pd

df = pd.read_csv(type1_data1)
# df

# 1. 'subscribed' 컬럼에서 가장 빈도수가 많은 날짜
mode_date = df['subscribed'].mode()[0]
print(mode_date)

# 2. 해당 날짜의 일 값 (정수)
day_int = pd.to_datetime(mode_date).day
print(day_int)

2025-02-17
17

# 문제3. 파생변수, 정렬, 인덱싱
1. 결측치가 있는 데이터(행) 제거
2. 'views' 컬럼을 'f1' 컬럼으로 나눈 값을 새로운 컬럼으로 추가
3. 새로운 컬럼 값 중 가장 큰 값을 가진 행의 age를 정수로 출력

In [ ]:
import pandas as pd

df = pd.read_csv(type1_data1)
# df

# 1. 결측치가 있는 데이터 제거
df = df.dropna()
# df

# 2. 'views' 컬럼을 'f1' 컬럼으로 나눈 값을 새로운 컬럼으로 추가
df['new'] = df['views'] / df['f1']
# df

# 3. 'new' 컬럼 값 중 가장 큰 값을 가진 행의 age 정수로 출력
df = df.sort_values(by='new', ascending=False)
# df
#  가장 큰 행은 (0), age 컬럼은 두번째 열(1)
max_age = df.iloc[0, 1]
print(int(max_age))

22

# 문제4. 값 변경, 정렬, 합계
1. 'views' 컬럼의 결측 데이터를 0으로 대체
2. 'views' 컬럼에서 상위 10번째 값 출력
3. 'views' 컬럼에서 상위 10개의 값을 상위 10번째 값으로 대체
4. 'views' 컬럼 컬럼의 전체 합을 정수로 출력

In [ ]:
import pandas as pd

df = pd.read_csv(type1_data1)
# df

# 1. 'views' 컬럼의 결측 데이터를 0으로 대체
df['views'].fillna(0, inplace=True)

# 2. 'views' 컬럼에서 상위 10번째 값 출력
df = df.sort_values(by='views', ascending=False)
view_10 = df.iloc[:10]['views'].min()
# 또는 view_10 = df['views'].nlargest(10).iloc[-1]
# print(view_10) # 9877

# 3. 'views' 컬럼에서 상위 10개의 값을 상위 10번째 값으로 대체
df.iloc[:10, -1] = view_10
# df.head(10)

# 4. 'views' 컬럼 컬럼의 전체 합을 정수로 출력
total_views = df['views'].sum()
print(int(total_views)) # 652812

652812

<ipython-input-65-1c55818ff56b>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['views'].fillna(0, inplace=True)

# 문제5. 문자열 슬라이싱, 파생변수, 평균값
1. 'f4' 컬럼 데이터에 'FJ'가 포함된 데이터 찾기
2. 찾은 데이터 중에서 'f2' 컬럼의 평균값 구하기 (반올림 후 소수 둘째 자리까지 계산)

In [ ]:
import pandas as pd

df = pd.read_csv(type1_data1)
# df

# 1.'f4' 컬럼 데이터에 'FJ'가 포함된 데이터 찾기
df['new'] = df['f4'].str[2:4]
cond = df['new'] == 'FJ'
# df[cond]
# 또는, cond = df['f4'].str.contains("FJ")
# df[cond]

# 2. 찾은 데이터 중에서 'f2' 컬럼의 평균값 구하기 (반올림 후 소수 둘째 자리까지 계산)
f2_mean = round(df[cond]['f2'].mean(), 2)
print(f2_mean)

0.61

# 문제6. 핕터링, 분산
1. 'f3' 컬럼이 gold 이면서 'f2' 컬럼이 2인 데이터
2. 찾은 데이터에서 'f1' 컬럼의 분산을 구하시오 (반올림 후 소수 둘째 자리까지 계산)

In [ ]:
import pandas as pd

df = pd.read_csv(type1_data1)
# df

# 1. 'f3' 컬럼이 gold 이면서 'f2' 컬럼이 2인 데이터
cond1 = df['f3'] == 'gold'
cond2 = df['f2'] == 2
cond = cond1 & cond2
# df[cond]

# 2. 찾은 데이터에서 'f1' 컬럼의 분산을 구하시오 (반올림 후 소수 둘째 자리까지 계산)
f1_var = df[cond]['f1'].var()
print(round(f1_var, 2))

235.43

# 문제7. 값 변경(연산), 필터링 절대값
1. 모든 나이(age)에 1 더하기
2. 20대의 'views' 평균과 30대의 'views' 평균의 차이의 절대값 (반올림 후 소수 둘째 짜리까지 계산)

In [ ]:
import pandas as pd

df = pd.read_csv(type1_data1)
# df

# 1. 모든 나이(age)에 1 더하기
df['age'] = df['age'] + 1
# df['age']

# 2. 20대의 'views' 평균과 30대의 'views' 평균의 차이의 절대값 (반올림 후 소수 둘째 짜리까지 계산)
cond_20 = (df['age'] >= 20) & (df['age'] <= 29)
cond_30 =  (df['age'] >= 30) & (df['age'] <= 39)

views_20 = df[cond_20]['views'].mean()
views_30 = df[cond_30]['views'].mean()

result = round(abs(views_20 - views_30), 2)
print(result)

263.13

# 문제8. 시계열 데이터, 필터링, 데이터 개수
1. 'subscribed' 컬럼이 2024년 2월인 데이터 찾기
2. 위에서 찾은 데이터 중 'f3' 컬럼이 gold 인 데이터 개수

In [ ]:
import pandas as pd

df = pd.read_csv(type1_data1)
# print(df)

# 1. 'subscribed' 컬럼이 2024년 2월인 데이터 찾기
df['subscribed'] = pd.to_datetime(df['subscribed'])

df['year'] = df['subscribed'].dt.year
df['month'] = df['subscribed'].dt.month

cond_1 = df['year'] == 2024
cond_2 = df['month'] == 2

# cond = cond_1 & cond_2
# print(df[cond])

# 2. 위에서 찾은 데이터 중 'f3' 컬럼이 gold 인 데이터 개수

cond_3 = df['f3'] == 'gold'
cond = df[cond_1 & cond_2 & cond_3]
# print(cond)
print(len(cond))

5

# 문제9. 필터링, 카테고립, 최빈값
1. 'views' 컬럼 값이 1000이하인 데이터(결측치 제외)를 찾으시오.
2. 앞에서 구한 데이터 중 'f4' 컬럼의 최빈값을 구하시오

In [ ]:
import pandas as pd

df = pd.read_csv(type1_data1)
# print(df)

# 1. 'views' 컬럼 값이 1000이하인 데이터(결측치 제외)를 찾으시오.
cond = df['views'] <= 1000
# print(df[cond])

# 2. 앞에서 구한 데이터 중 'f4' 컬럼의 최빈값을 구하시오
f4_mode = df[cond]['f4'].mode()[0]
print(f4_mode)

ISFJ

# 문제10. 그룹핑, 최댓값, 정렬
1. 결측치가 있는 행 삭제
2. 결측치가 삭제된 데이터를 사용하여 지역별(city) 평균 계산
3. 앞에서 계산한 지역별 평규 데이터에서 'f2' 컬럼값이 가장 큰 지역 구하기.

In [ ]:
import pandas as pd

df = pd.read_csv(type1_data1)
# print(df) # 120행

# 1. 결측치가 있는 행 삭제
df.dropna(inplace=True)
# print(df) # 70행

#2. 결측치가 삭제된 데이터를 사용하여 지역별(city) 평균 계산
city_mean = df.groupby(['city']).mean(numeric_only=True)
# print(city_mean)

#3. 앞에서 계산한 지역별 평규 데이터에서 'f2' 컬럼값이 가장 큰 지역 구하기.
best_f2 = city_mean['f2'].idxmax()
print(best_f2)

서울

# 문제11. 슬라이싱, 사분위수, 결측치 제거
1. 데이터에서 결측치가 있는 데이터(행) 모두 제거
2. 결측치가 제거된 데이터를 사용하여 앞에서부터 70% 데이터 구하기 (단, 데이터 70% 지점의 index가 소수점으로 계산될 경우 소수점 이하 버림)
3. 앞에서 구한 70% 데이터 중 'views' 컬럼의 3사분위에서 1사분위를 뺀 값을 정수로 출력

In [ ]:
import pandas as pd

df = pd.read_csv(type1_data1)
# print(df) # 120행

# 1. 데이터에서 결측치가 있는 데이터(행) 모두 제거
df.dropna(inplace=True)
# print(df) # 70행

# 2. 결측치가 제거된 데이터를 사용하여 앞에서부터 70% 데이터 구하기 (단, 데이터 70% 지점의 index가 소수점으로 계산될 경우 소수점 이하 버림)
cutting = int(len(df) * 0.7)

df = df.iloc[:cutting]
# print(df)

# 3. 앞에서 구한 70% 데이터 중 'views' 컬럼의 3사분위에서 1사분위를 뺀 값을 정수로 출력
third = df['views'].quantile(0.75)
first = df['views'].quantile(0.25)

iqr_int = int(third - first)
print(iqr_int)

2771

# 문제12. 결측치 처리, 최빈값, 데이터 개수
1. 결측치가 가장 많은 두 컬럼을 찾으시오
2. 첫 번째로 결측치가 많은 컬럼에서 결측치가 있는 데이터(행)를 삭제하시오
3. 두 번째로 결측치가 많은 컬럼을 최빈값으로 대체
4. 'f3' 컬럼의 'gold'값을 가진 데이터의 수를 정수형으로 구하시오 **굵은 텍스트**

In [ ]:
import pandas as pd

df = pd.read_csv(type1_data1)
# print(df)

# 1. 결측치가 가장 많은 두 컬럼을 찾으시오
# print(df.info()) # f1, f3
# print(df.isnull().sum()) # f1: 31, f3: 29

# 2. 첫 번째로 결측치가 많은 컬럼에서 결측치가 있는 데이터(행)를 삭제하시오
df = df.dropna(subset=['f1'])
# print(df) # 89행

# 3. 두 번째로 결측치가 많은 컬럼을 최빈값으로 대체
freq = df['f3'].mode()[0]
# print(freq) # gold
df.fillna(freq, inplace=True)
# print(df)

# 4. 'f3' 컬럼의 'gold'값을 가진 데이터의 수를 정수형으로 구하시오
gold_rows = df['f3'] == 'gold'
print(len(df[gold_rows]))

63

<ipython-input-76-d02a35241973>:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'gold' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna(freq, inplace=True)

# 문제13. 결측 데이터 찾기, 필터링, 평균값
1. 'f1' 컬럼에 결측치가 있는 데이터만 선택
2. 선택된 데이터에서 'age' 컬럼의 평균값 출력 (반올림 후 소수 첫째 자리까지 계산)

In [ ]:
import pandas as pd

df = pd.read_csv(type1_data1)
# print(df)

# 1. 'f1' 컬럼에 결측치가 있는 데이터만 선택
cond = df['f1'].isnull()
# print(df[cond])

# 2. 선택된 데이터에서 'age' 컬럼의 평균값 출력 (반올림 후 소수 첫째 자리까지 계산)
age_mean = df[cond]['age'].mean()
print(round(age_mean, 1))

53.6

# 문제 14. 중복 데이터 제거, 값 변경, 데이터 개수
1. 중복 데이터 제거
2. 'f3' 컬럼의 결측치는 0, 'silver'는 1, 'gold'는 2, 'vip'는 3으로 변환
3. 변환된 'f3' 컬럼의 총합을 정수형으로 출력

In [ ]:
import pandas as pd

df = pd.read_csv(type1_data1)
# print(df) # 120행

# 1. 중복 데이터 제거
df.drop_duplicates(inplace=True)
# print(df) # 118행

# 2. 'f3' 컬럼의 결측치는 0, 'silver'는 1, 'gold'는 2, 'vip'는 3으로 변환
# df['f3'].fillna(0, inplace=True)
# # print(df)
# df['f3'].replace('silver', 1, inplace=True)
# # print(df)
# df['f3'].replace('gold', 2, inplace=True)
# # print(df)
# df['f3'].replace('vip', 3, inplace=True)
# print(df)

# map() 활용
import numpy as np
dict_list = {np.nan: 0, 'silver': 1, 'gold': 2, 'vip': 3}
df['f3'] = df['f3'].map(dict_list)

# print(df['f3'].value_counts())

# 3. 변환된 'f3' 컬럼의 총합을 정수형으로 출력
print(int(df['f3'].sum()))

167

# 문제15. 컬럼 삭제, 행 단위 합계, 필터링
1. 주어진 데이터에서 문자 자료형 컬럼 삭제
2. 숫자 자료형 컬럼의 결측치를 0으로 대체
3. 각 행의 합이 3000보다 큰 값의 개수를 정수로 출력
(각 행의 합: 'age' + 'f1' + 'f2' + 'f5' + 'views')

In [ ]:
import pandas as pd

df = pd.read_csv(type1_data1)
# print(df)

# 1. 주어진 데이터에서 문자 자료형 컬럼 삭제
cols = df.select_dtypes(exclude='object').columns
df = df[cols]
# print(df)

# 2. 숫자 자료형 컬럼의 결측치를 0으로 대체
df.fillna(0)
# print(df)


# 3. 각 행의 합이 3000보다 큰 값의 개수를 정수로 출력
# (각 행의 합: 'age' + 'f1' + 'f2' + 'f5' + 'views')
df = df.T # 행 열 전환
# print(df)

cond = df.sum() > 3000
print(sum(cond))

88

# 문제16. 이상치, IQR


1.   'views' 컬럼의 1사분위수, 3사분위수, IQR 계산
2.   이상치 조건에 맞는 데이터 찾기
> (1q - (IQR * .15) 보다 작은 값 & 3q + (IQR * 1.5) 보다 큰 값
3.   이상치 데이터의 'views' 컬럼 합 정수로 출력

In [ ]:
import pandas as pd

df = pd.read_csv(type1_data1)
# print(df)

# 1.'views' 컬럼의 1사분위수, 3사분위수, IQR 계산
q1 = df['views'].quantile(.25)
q3 = df['views'].quantile(.75)
views_iqr = q3 - q1
# print(views_iqr) # 5442.5

# 2. 이상치 조건에 맞는 데이터 찾기 (1q - (IQR * 1.5) 보다 작은 값 & 3q + (IQR * 1.5) 보다 큰 값)
cut1 = q1 - (views_iqr * 1.5) # 5132.75
cut2 = q3 + (views_iqr * 1.5) # 16637.25

# print(cut1, cut2)

cond1 = df['views'] < cut1
cond2 = df['views'] > cut2

df = df[cond1 | cond2]
# print(df)

# 3. 이상치 데이터의 'views' 컬럼 합 정수로 출력
iqr_sum = int(df['views'].sum())
print(iqr_sum)

77699

# 문제17. 이상치, 소수점 있는 데이터 찾기, 표준 편차
1. 'views' 컬럼의 표준편차 구하기
2. 'age' 컬럼의 이상치 (소수점 나이, 음수 나이, 0살) 제거 후 'views' 표준 편차 계산
3. 이상치 제거 전후의 'views' 컬럼의 표준편차 더하여 반올림 후 소수 둘째 자리까지 구하기

In [ ]:
import pandas as pd

df = pd.read_csv(type1_data1)
# print(df)

# 1. 'views' 컬럼의 표준편차 구하기
view_std = df['views'].std()
# print(view_std) # 4121.6264

# 2. 'age' 컬럼의 이상치 (소수점 나이, 음수 나이, 0살) 제거 후 'views' 표준 편차 계산
# print(df['age'].describe())
# print(df['age'].value_counts())
# print(df.info())
cond1 = df['age'] <= 0 # 음수, 0
df = df[~cond1]

cond2 = df['age'] != round(df['age'], 0) # 소수점
df = df[~cond2]

# print(df) # 110 rows
after_std = df['views'].std()
# print(after_std) # 4175.6817

# 3. 이상치 제거 전후의 'views' 컬럼의 표준편차 더하여 반올림 후 소수 둘째 자리까지 구하기
result = round(after_std + view_std, 2)
print(result)

8297.31

# 문제18. 데이터(행) 기준 평균값, 인덱싱
1. index '2001' 데이터(행)에서 평균보다 큰 값의 개수 출력
2. index '2003' 데이터(행)에서 평균보다 작은 값의 개수 출력
3. 두 개수 더하기

In [ ]:
import pandas as pd

# 인덱스를 연도로 지정하였으므로, index_col
df = pd.read_csv(tp1_data2, index_col='year')
# print(df)

# 1. index '2001' 데이터(행)에서 평균보다 큰 값의 개수 출력
mean1 = df.loc[2001].mean()
# print(mean1) # 100.735
over_mean = df.loc[2001] > mean1
# print(sum(over_mean)) # 100

# 2. index '2003' 데이터(행)에서 평균보다 작은 값의 개수 출력
mean2 = df.loc[2003].mean()
# print(mean2) # 97.215
lower_mean = df.loc[2003] < mean2
# print(sum(lower_mean)) # 102

# 3. 두 개수 더하기
result = sum(over_mean) + sum(lower_mean)
print(result)

202

# 문제19. 결측치(뒤의 값으로 대체), 그룹합
1. 결측치를 바로 뒤에 있는 값으로 대체 (바로 뒤의 값도 결측치 일 경우, 뒤에 있는 데이터 중 가장 가까운 값으로 대체)
2. 'city'와 'f2' 컬럼을 기준으로 그룹합 계산
3. 'views' 값이 세 번째로 큰 city 이름 출력

In [ ]:
import pandas as pd

df = pd.read_csv(type1_data1)
# print(df)

# 1. 결측치를 바로 뒤에 있는 값으로 대체 (바로 뒤의 값도 결측치 일 경우, 뒤에 있는 데이터 중 가장 가까운 값으로 대체)
df = df.fillna(method='bfill')
# print(df)

# 2. 'city'와 'f2' 컬럼을 기준으로 그룹합 계산
group_sum = df.groupby(['city', 'f2']).sum(numeric_only=True).reset_index()
# print(group_sum)

# 3. 'views' 값이 세 번째로 큰 city 이름 출력
group_sum.sort_values('views', ascending=False)
# print(group_sum)

print(group_sum.iloc[2, 0])

경기

<ipython-input-56-a586088c930d>:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='bfill')

# 문제20. 시계열 데이터, 월별 집계, 인덱스
1. 연도 구분 없이 월별로 숫자형 컬럼의 합 구하기
2. 합계 중 'views'가 가장 작은 값을 가진 월을 정수로 구하기

In [ ]:
import pandas as pd

df = pd.read_csv(type1_data1)
# print(df)

# 1. 연도 구분 없이 월별로 숫자형 컬럼의 합 구하기
df['subscribed'] = pd.to_datetime(df['subscribed'])
df['month'] = df['subscribed'].dt.month
# print(df)
month_sum = df.groupby('month').sum(numeric_only=True)
# print(month_sum)

# 2. 합계 중 'views'가 가장 작은 값을 가진 월을 정수로 구하기
month_sum = month_sum.sort_values('views')
print(month_sum.index[0])

11

# 문제21. 시간 간의 차이 계산(분), 필터링
1. 예상 도착 시간보다 늦게 도착한 건수 계산
2. 계산된 값들 중 거리가 7km 이상인 데이터의 수를 정수로 출력

In [ ]:
import pandas as pd

df = pd.read_csv(del_time)
# print(df) # 1000 rows

# 1. 예상 도착 시간보다 늦게 도착한 건수 계산
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])
# print(df.info())

df['지연시간'] = (df['실제도착시간'] - df['예상도착시간']).dt.total_seconds()/60
cond1 = df['지연시간'] > 0
# print(df[cond1]) # 510건

# 2. 계산된 값들 중 거리가 7km 이상인 데이터의 수를 정수로 출력
cond2 = df['거리'] >= 7

over_7km = df[cond1 & cond2]
print(int(len(over_7km)))

311

# 문제22. 시간 간의 차이 계산(분), 그룹핑
1. 주문 시간과 실제 도착 시간의 차이를 분 단위로 계산
2. 앱 종류별로 평균 도착 시간(분) 계산
3. 평균적으로 가장 빠른 앱 종류를 찾고, 해당 앱의 평균 도착 시간을 분으로 반올림하여 정수로 출력

In [ ]:
import pandas as pd

df = pd.read_csv(del_time)
# print(df)

# 1. 주문 시간과 실제 도착 시간의 차이를 분 단위로 계산
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])

df['소요시간'] = (df['실제도착시간'] - df['주문시간']).dt.total_seconds()/60
# print(df)

# 2. 앱 종류별로 평균 도착 시간(분) 계산
# df = df.groupby('앱종류').mean(numeric_only=True)
# print(df)

# 책 답안
df = df.groupby('앱종류')['소요시간'].mean()
# print(df)

# 3. 평균적으로 가장 빠른 앱 종류를 찾고, 해당 앱의 평균 도착 시간을 분으로 반올림하여 정수로 출력
# df = df.sort_values('소요시간')
# # print(df)
# min_app = round(df.iloc[0,1])
# print(int(min_app)) # 62

# 책 답안
print(round(df.min()))

62

# 문제 23. 시간 간의 차이 계산(분), 비율
1. 각 결제 종류별로 실제 도착 시간이 예상 도착 시간보다 늦은 주문의 비율 게산
2. 비율 중 가장 큰 값을 반올림하여 소수 둘째 자리까지 출력

In [ ]:
import pandas as pd

df = pd.read_csv(del_time)
# print(df)

# 1. 각 결제 종류별로 실제 도착 시간이 예상 도착 시간보다 늦은 주문의 비율 게산
df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['예상도착시간'] = pd.to_datetime(df['예상도착시간'])

df['지연시간'] = (df['실제도착시간'] - df['예상도착시간']).dt.total_seconds()/60
# print(df)
df['지연여부'] = df['지연시간'] > 0
# print(df)
result = df.groupby('결제종류')['지연여부'].mean()
# print(result)

# 2. 비율 중 가장 큰 값을 반올림하여 소수 둘째 자리까지 출력
print(round(result.max(),2))

0.56

# 문제24. 그룹핑, 값 찾기, 필터링
1. 사용자별 주문 거리의 합계가 50km 이상인 사람들의 결제 방식
2. 이 결제 방식 중 가장 빈도가 높은 수 출력

In [ ]:
import pandas as pd

df = pd.read_csv(del_time)
# print(df)

# 1. 사용자별 주문 거리의 합계가 50km 이상인 사람들의 결제 방식
df_distance = df.groupby('user')['거리'].sum()
# print(df_distance)
cond = df_distance >= 50
df_distance = df_distance[cond]
# print(df_distance)

filtered_data = df[df['user'].isin(df_distance.index)]
# print(filtered_data)

# 2. 이 결제 방식 중 가장 빈도가 높은 수 출력
method = filtered_data['결제종류'].value_counts()
# print(method)
print(method.max())

48

# 문제25. 시간 간의 차이 계산(일)
1. 각 사용자별로 첫 주문과 마지막 주문 사이의 시간 간격을 일 단위로 계산
2. 시간차가 0일인 사용자를 제외하고, 나머지 사용자들의 평균 시간 간격(일 단위) 계산
3. 평균 시간 간격보다 긴 시간 간격을 가진 사용자의 수를 정수로 출력

In [ ]:
import pandas as pd

df = pd.read_csv(del_time)
# print(df)

# 1. 각 사용자별로 첫 주문과 마지막 주문 사이의 시간 간격을 일 단위로 계산
df['주문시간'] = pd.to_datetime(df['주문시간'])

min_order = df.groupby('user')['주문시간'].min()
max_order = df.groupby('user')['주문시간'].max()

order_diff = (max_order - min_order).dt.days
# print(order_diff)

# 2. 시간차가 0일인 사용자를 제외하고, 나머지 사용자들의 평균 시간 간격(일 단위) 계산
cond1 = order_diff > 0
# print(order_diff[cond1]) # 298 rows

mean_order = order_diff[cond1].mean()
# print(mean_order) # 167.6946

# 3. 평균 시간 간격보다 긴 시간 간격을 가진 사용자의 수를 정수로 출력
cond2 = order_diff > mean_order
user_count = len(order_diff[cond2])
print(user_count)

146

# 문제26. 날짜와 시간 정보 변환, 비율
1. 주문이 가장 많이 발생한 연-월
2. 해당 연-월에 '배고팡' 앱을 통한 주문 중 '앱결제'로 결제된 주문의 비율 계산
(반올림 후 소수 둘째 자리까지 계산)

In [27]:
import pandas as pd

df = pd.read_csv(del_time)
# print(df)

# 1. 주문이 가장 많이 발생한 연-월
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['order_ym'] = df['주문시간'].dt.to_period('M')
# print(df)

most_ym = df.groupby('order_ym')['주문시간'].count()
# print(most_ym.idxmax()) # 2022-09

# 2. 해당 연-월에 '배고팡' 앱을 통한 주문 중 '앱결제'로 결제된 주문의 비율 계산
# (반올림 후 소수 둘째 자리까지 계산)
cond1 = df['order_ym'] == most_ym.idxmax()
cond2 = df['앱종류'] == '배고팡'
filtered_data = df[cond1 & cond2]

cond3 = filtered_data['결제종류'] == '앱결제'
result = len(filtered_data[cond3]) / len(filtered_data)
print(round(result, 2))

0.31

# 문제27. 시간 범위, 속도(km/h)
1. 점심시간(10시부터 13시 전)에 주문된 배달 데이터 출력
2. 점심시간 주문 건 중 과속(평균 속도가 50kh/h 이상)하는 주문 수를 정수로 출력
> 배달시간 = 실제도착시간 - 주문시간
> 속도(km/h) = 거리(km)/시간(h)

In [37]:
import pandas as pd

df = pd.read_csv(del_time)
# print(df)

# 1. 점심시간(10시부터 13시 전)에 주문된 배달 데이터 출력
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['order_h'] = df['주문시간'].dt.hour
# print(df)

df['점심여부'] = (df['order_h'] > 10) & (df['order_h'] < 13)
cond1 = df['점심여부'] == True
# print(df[cond1]) # 72 rows

#2. 점심시간 주문 건 중 과속(평균 속도가 50kh/h 이상)하는 주문 수를 정수로 출력
# > 배달시간 = 실제도착시간 - 주문시간
# > 속도(km/h) = 거리(km)/시간(h)

df['실제도착시간'] = pd.to_datetime(df['실제도착시간'])
df['배달시간'] = (df['실제도착시간'] - df['주문시간']).dt.total_seconds() / 3600
df['속도'] = df['거리'] / df['배달시간']
# print(df)

cond2 = df['속도'] >= 50

result = df[cond1 & cond2]
print(int(len(result)))

1

# 문제28. 날짜와 시간, 문자열
1. 연도와 월을 기준으로 주문 수 집계
2. 가장 많은 주문이 있었던 연도와 월을 예시와 같은 형식으로 숫자로만 구하기
(예: 2024년 2월인 경우 '202402'. 2024년 10월인 경우 '202410')

In [44]:
import pandas as pd

df = pd.read_csv(del_time)
# print(df)

# 1. 연도와 월을 기준으로 주문 수 집계
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['주문년월'] = df['주문시간'].dt.to_period('M')
# print(df)

# 2. 가장 많은 주문이 있었던 연도와 월을 예시와 같은 형식으로 숫자로만 구하기
# (예: 2024년 2월인 경우 '202402'. 2024년 10월인 경우 '202410')
order_ym = df.groupby('주문년월')['주문시간'].count()
# print(order_ym)
most_order_ym = order_ym.idxmax()
print(str(most_order_ym).replace('-', ''))

202209

# 문제29. 함수, 월별 집계
1. 배달료 계산 기준표에 따라 각 주문에 대한 배달료 계산
2. 월별로 배달료의 총합 집계
3. 배달료가 가장 많이 발생한 월을 찾고, 그 월의 총 배달료를 정수로 계산

[배달료 기준표]
- 5km 미만: 2,000원
- 5km 이상 ~ 10km 미만: 4,000원
- 10km 이상 ~ 15km 미만: 6,000원
- 15km 이상 ~ 20km 미만: 8,000원

In [52]:
import pandas as pd

df = pd.read_csv(del_time)
# print(df)

# 1. 배달료 계산 기준표에 따라 각 주문에 대한 배달료 계산
def del_fee(distance):
  if distance < 5:
    return 2000
  elif distance < 10:
    return 4000
  elif distance < 15:
    return 6000
  elif distance < 20:
    return 8000

df['배달료'] = df['거리'].apply(del_fee)
# print(df)

#2. 월별로 배달료의 총합 집계
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['주문월'] = df['주문시간'].dt.month
# print(df)

monthly_fee = df.groupby('주문월')['배달료'].sum()
# print(monthly_fee)

# 3. 배달료가 가장 많이 발생한 월을 찾고, 그 월의 총 배달료를 정수로 계산
print(int(monthly_fee.max()))

448000

# 문제30. 주말, 평일 구분
1. 주말 주문 건수와 평일 주문 건수 구하기
2. 주말 주문 건수와 평일 주문 건수의 차이를 절대값으로 구하고 정수형으로 출력

In [65]:
import pandas as pd

df = pd.read_csv(del_time)
# print(df)

# 1. 주말 주문 건수와 평일 주문 건수 구하기
df['주문시간'] = pd.to_datetime(df['주문시간'])
df['주문요일'] = df['주문시간'].dt.dayofweek
# print(df)

# df['평일여부'] = (df['주문요일'] != 5) & (df['주문요일'] != 6)
df['평일여부'] = df['주문요일'] < 5
# print(df)

# 2. 주말 주문 건수와 평일 주문 건수의 차이를 절대값으로 구하고 정수형으로 출력
weekday_df = df.groupby('평일여부').count()
# print(weekday_df)

week = weekday_df.iloc[0,0]
# print(week)
weekend = weekday_df.iloc[1,0]
# print(weekend)

diff = abs(week - weekend)
print(diff)

412

# 문제31. 문자열, 형 변환
1. 'user' 컬럼에서 user 뒤에 있는 숫자 값만 출력
2. 추출된 숫자 값을 모두 합한 값을 정수로 출력

In [76]:
import pandas as pd

df = pd.read_csv(del_time)
# print(df)

# 1. 'user' 컬럼에서 user 뒤에 있는 숫자 값만 출력
df['user_int'] = df['user'].str[5:]
# print(df)

# 2. 추출된 숫자 값을 모두 합한 값을 정수로 출력
df['user_int'] = df['user_int'].astype(int)
result = df['user_int'].sum()
print(result)

261387

# 문제32. 합계(열방향), 상위 값 선택
1. 수학, 영어, 국어 점수의 합 구하기
2. 합이 가장 큰 상위 10명 찾기
3. 찾은 10명의 수학 평균 점수 출력 (반올림 후 정수 출력)

In [94]:
import pandas as pd

df = pd.read_csv(school)
# print(df)

# 1. 수학, 영어, 국어 점수의 합 구하기
# df['total'] = df['수학'] + df['영어'] + df['국어']
df['total'] = df[['수학', '영어', '국어']].sum(axis=1)
# print(df)

# 2. 합이 가장 큰 상위 10명 찾기
df = df.sort_values('total', ascending=False)
# # print(df)
# top_10 = df[:10]
top_10 = df.nlargest(10, 'total')
# print(top_10)

# # 3. 찾은 10명의 수학 평균 점수 출력 (반올림 후 정수 출력)
math_10_avg = top_10['수학'].mean()
print(int(round(math_10_avg, 0)))

82

# 문제33. 데이터프레임 재구조화
1. 과목에 상관없이 점수가 가장 작은 점수 25개 찾기
2. 찾은 점수 25개의 합을 정수로 출력

In [100]:
import pandas as pd

df = pd.read_csv(school)
# print(df)

# 1. 과목에 상관없이 점수가 가장 작은 점수 25개 찾기
melted_df = pd.melt(df, id_vars='이름', value_vars=['수학', '영어', '국어'])
# print(melted_df)

# melted_df = melted_df.sort_values('value')
# print(melted_df)
bottom_25 = melted_df.nsmallest(25, 'value')
# print(bottom_25)

# 2. 찾은 점수 25개의 합을 정수로 출력
total_25 = bottom_25['value'].sum()
print(int(total_25))

420

# 문제34. 데이터 합치기(concat)
1. 주어진 두 csv 파일(school, school_science)을 학생 순서롤 기준으로 병합
2. 학생별로 수학, 영어, 국어, 과학 점수의 평균 계산
3. 평균 점수가 60점 이상인 인원 수 계산

In [107]:
import pandas as pd

df1 = pd.read_csv(school)
df2 = pd.read_csv(school_science)

# print(df1)
# print(df2)

#1. 주어진 두 csv 파일(school, school_science)을 학생 순서롤 기준으로 병합
merged_df = pd.concat([df1, df2], axis=1)
# print(merged_df)

# 2. 학생별로 수학, 영어, 국어, 과학 점수의 평균 계산
merged_df['avg'] = merged_df[['수학', '영어', '국어', '과학']].mean(axis=1)
# print(merged_df)

# 3. 평균 점수가 60점 이상인 인원 수 계산
over_60 = merged_df['avg'] >= 60
# print(merged_df[over_60])
print(len(merged_df[over_60]))

9

# 문제35. 데이터 합치기(merge)
1. shcool과 school_science 파일을 '이름' 기준으로 병합
2. 영어교사가 장선생이면서 사회교사가 오선생인 학생들 필터링
3. 필터링된 학생들의 수학 점수를 모두 더한 후 정수로 출력

In [130]:
import pandas as pd

df1 = pd.read_csv(school)
df2 = pd.read_csv(school_social)

# print(df1)
# print(df2)

# 1. shcool과 school_science 파일을 '이름' 기준으로 병합
df = df1.merge(df2, how='inner', on ='이름')
# help(pd.merge)
# print(df)

# 2. 영어교사가 장선생이면서 사회교사가 오선생인 학생들 필터링
cond1 = df['영어교사'] == '장선생'
cond2 = df['사회교사'] == '오선생'

filtered_df = df[cond1 & cond2]
# print(filtered_df)

# 3. 필터링된 학생들의 수학 점수를 모두 더한 후 정수로 출력
filtered_math = filtered_df['수학'].sum()
print(int(filtered_math))

602

# 문제36. 조건별 변환(transform)
1. 결측된 판매금액은 해당 지역의 평균 판매금액으로 결측값 대체
2. 각 거래마다 "판매금액"과 해당 지역의 평균 판매금액의 "차이"를 절대값으로 구하기
3. 각 지역에서 차이값의 평균을 구한 후, 이 값이 가장 큰 지역의 지역코드 출력

In [142]:
import pandas as pd

df = pd.read_csv(sales)
# print(df)

# 1. 결측된 판매금액은 해당 지역의 평균 판매금액으로 결측값 대체
city_mean = df.groupby('지역코드')['판매금액'].transform('mean')
# print(city_mean)

df['판매금액'] = df['판매금액'].fillna(city_mean)
# print(df)

# 2. 각 거래마다 "판매금액"과 해당 지역의 평균 판매금액의 "차이"를 절대값으로 구하기
df['차이'] = abs(df['판매금액'] - city_mean)
# print(df)

# 3. 각 지역에서 차이값의 평균을 구한 후, 이 값이 가장 큰 지역의 지역코드 출력
city_diff = df.groupby('지역코드')['차이'].mean()
# print(city_diff)

print(city_diff.idxmax())

103

# 문제37. 재구조화(unstack), 맵핑
1. 각 행에서 판매수량과 단가를 이용하여 매출액 계산
2. 요일을 평일과 주말로 구분하고, 매장별 평일과 주말 매출액 합계 계산
3. 매장별 평일과 주말 매출액 차이를 절대값으로 계산하고, 모든 매장 중 가장 큰 절대값 차이를 출력

In [154]:
import pandas as pd

df = pd.read_csv(store)
# print(df)

# 1. 각 행에서 판매수량과 단가를 이용하여 매출액 계산
df['매출액'] = df['판매수량'] * df['단가']
# print(df)

# 2. 요일을 평일과 주말로 구분하고, 매장별 평일과 주말 매출액 합계 계산
day_mapping = {'월': '평일', '화': '평일', '수': '평일', '목': '평일', '금': '평일', '토': '주말', '일': '주말'}

df['주말여부'] = df['요일'].map(day_mapping)
# print(df)

store_sales_by_dw = df.groupby(['매장코드', '주말여부'])['매출액'].sum().unstack()
# print(store_sales_by_dw)

# 3. 매장별 평일과 주말 매출액 차이를 절대값으로 계산하고, 모든 매장 중 가장 큰 절대값 차이를 출력
store_sales_by_dw['차이'] = abs(store_sales_by_dw['주말'] - store_sales_by_dw['평일'])
# print(store_sales_by_dw)

print(store_sales_by_dw['차이'].max())

241975

# 문제38. 피벗테이블
1. 각 Region과 Channel 조합별로 제품(Product) A, B의 총 판매액 계산
2. 제품 A의 매출 비율(A비율) 계산
> A비율 = (제품 A 판매액) / (제품 A 판매액 + 제품 B 판매액)
3. A 비율 중 최댓값을 찾아 반올림하여 소수 둘째자리까지 출력

In [162]:
import pandas as pd

df = pd.read_csv(region_csv)
# print(df)

# 1. 각 Region과 Channel 조합별로 제품(Product) A, B의 총 판매액 계산
pivot = pd.pivot_table(df, index=['Region', 'Channel'], columns='Product', values='Sales', aggfunc='sum')
# print(pivot)

# 2. 제품 A의 매출 비율(A비율) 계산
#> A비율 = (제품 A 판매액) / (제품 A 판매액 + 제품 B 판매액)
pivot['총매출'] = pivot['A'] + pivot['B']
pivot['A비율'] = pivot['A'] / pivot['총매출']
# print(pivot)

# 3. A 비율 중 최댓값을 찾아 반올림하여 소수 둘째자리까지 출력
result = pivot['A비율'].max()
print(round(result, 2))

0.51

# 문제39. 재구조화(melt), 그룹핑
1. 지역(Region)과 월(Jan, Feb, Mar)별 매출(Sales) 합계 계산
2. 위의 결과 중, 매출 합계(Sales)가 1400을 초과하는 경우가 몇 건인지 계산

In [183]:
import pandas as pd

df = pd.read_csv(monthly_csv)
# print(df)

# 1. 지역(Region)과 월(Jan, Feb, Mar)별 매출(Sales) 합계 계산
melted_df = pd.melt(df,
                    id_vars=['Region'],
                    value_vars=['Jan', 'Feb', 'Mar'],
                    var_name='Month',
                    value_name='Sales')
# print(melted_df)
df = melted_df.groupby(['Region', 'Month'])['Sales'].sum().reset_index()
# print(df)

# 2. 위의 결과 중, 매출 합계(Sales)가 1400을 초과하는 경우가 몇 건인지 계산
cond = df['Sales'] > 1400
print(len(df[cond]))

6